/* styles.css */
body {
  text-align: center;
}

.container {
  padding: 10px;
  margin: 10px auto; /* Add 'auto' to horizontally center the container */
  width: 500px;
}

.customer-info,
.car-rental-info {
  border: 2px solid black;
  width: 100%; /* Set width to '100%' to fill the container */
}

.right-align {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: center;
}

th.left-column, td.left-column {
  width: 50%;
}

.teal-color {
  color: teal;
}
